header {
    display: flex;
    margin: 7vh 5%;
}

header section{
    flex-grow: 1;
    margin: 0 10% 0 5% ;
}
header img{
    width: 50%;
}
header h1{
    color: #202336;
    font-size: 4rem;
    
}
header h3{
    font-size: 1.375rem;
    color: #202336;
}

header .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

header select {
    padding: 2vh 5%;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    background-color: #fff;
    color: #4A4C53;

}

header button{
    background: #FB8F1D;
    color: #fff;
    margin-top: 5vh;
    padding: 2vh 14% ;
    border-radius: 8px;
    border-width: 0;
    font-size: 1.065rem;
    font-weight: bold;
}
