.imageText{
    display: flex;
    margin: 20vh 10% 10vh 5%;
    align-items: center;
}

.imageText img{
    width: 50%;
}

.imageText div{
    margin: 0 5%;
}

.imageText h2{
    font-size: 3rem;
    color: #000;
    font-family: 'Playfair Display', serif;
}

.imageText p{
    font-size: 1.0625rem;
    line-height: 1.875rem;
    margin-right: 11%;
    margin-top: 0;
}

.imageText button{
    background: #FB8F1D;
    color: #fff;
    margin-top: 2vh;
    padding: 1.5vh 10% ;
    border-radius: 8px;
    border-width: 0;
    font-size: 1rem;
    font-weight: bold;
}